.intro {
    max-width: 100%;
    position: relative;
    background-image: url(../img/bc-img.jpg);
    background-position: center;
    height: 940px;
    background-size: auto 100%;

    @media ($phone) {
        height: 670px;
        background-position: center;
    }

    &-block {
        position: absolute;
        top: 156px;
        left: 200px;

        @media ($lcd) {
            top: 128px;
            left: 150px;
        }

        @media ($hd-tablet) {
            top: 120px;
            left: 20px;
        }

        @media ($phone) {
            top: 90px;
            left: 10px;
        }

        &__title {
            color: $white;
            max-width: 800px;

            h1 {
                line-height: 104px;
                font-family: $main-font;
                font-size: 75px;
                font-weight: 900;

                @media ($hd-tablet) {
                    font-size: 65px;
                    line-height: 75px;
                }

                @media ($tablet) {
                    font-size: 50px;
                    line-height: 65px;
                }

                @media ($phone) {
                    font-size: 36px;
                    line-height: 56px;
                }
            }
        }

        &__btn {
            width: 245px;
            box-sizing: border-box;
            margin-top: 35px;

            @media ($tablet) {
                margin-top: 30px;
            }

            @media ($phone) {
                margin-top: 15px;
            }

            .block-btn__link {
                padding: 12px 39px;
            }
        }
    }


    &-social {
        position: absolute;
        left: 150px;
        bottom: 150px;

        @media ($phone) {
            display: none;
        }

        @media ($hd-tablet) {
            bottom: 72px;
        }

        &__items {
            list-style: none;

            .social-items__item {
                margin-bottom: 15px;
            }
        }

        @media ($hd-tablet) {
            left: 20px;
        }
    }

    //slider

    &-slider {
        position: absolute;
        bottom: 115px;
        left: 44%;
        width: 56%;

        @media ($hd) {
            left: 33%;
            width: 67%;
        }

        @media ($hd-tablet) {
            left: 8%;
            width: 92%;
        }

        @media ($phone) {
            left: 0;
            width: 100%;
            bottom: 50px;
        }



        &__top {
            width: 100%;
            margin-bottom: 20px;

            @media ($phone) {
                margin-bottom: 0px;
            }

            .slider-top__line {
                width: 98%;
                position: absolute;
                bottom: 230px;

                @media ($phone) {
                    bottom: 141px;
                }

                .circle {
                    position: absolute;
                }

                .line {
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    display: block;
                    height: 1px;
                    width: 99%;
                    background: $white;
                }
            }

            .slider-top__imglist {
                overflow: hidden;
                display: flex;
                list-style: none;
                width: 100%;
                height: 352px;
                position: relative;
                align-items: center;

                @media ($phone) {
                    height: 202px;
                }

                &__item {
                    position: absolute;
                    left: 122px;
                    bottom: 60px;
                    height: 203px;
                    width: 140px;
                    background-position: center;
                    background-size: 100% 100%;
                    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
                    border-radius: 6px;
                    transition: 0.5s;
                    overflow: hidden;

                    @media ($hd) {
                        height: 260px;
                        width: 180px;
                    }

                    @media ($tablet) {
                        left: 30px;
                    }

                    @media ($phone) {
                        height: 164px;
                        width: 113px;
                        bottom: 20px;
                        left: 17px;
                        filter: none;
                    }

                    &:nth-child(2) {
                        left: 308px;

                        @media ($hd) {
                            left: 332px;
                        }

                        @media ($tablet) {
                            left: 238px;
                        }

                        @media ($phone) {
                            left: 136px;
                        }
                    }

                    &:nth-child(3) {
                        left: 600px;

                        @media ($hd) {
                            left: 607px;

                        }

                        @media ($tablet) {
                            left: 513px;
                        }

                        @media ($phone) {
                            left: 282px;
                        }
                    }

                    &:nth-child(4) {
                        left: 785px;

                        @media ($hd) {
                            left: 820px;

                        }

                        @media ($phone) {
                            left: 402px;
                        }
                    }

                    &:nth-child(5) {
                        left: 970px;

                        @media ($hd) {
                            left: 1005px;

                        }

                        @media ($phone) {
                            left: 522px;
                        }
                    }

                    &:nth-child(6) {
                        left: 1155px;

                        @media ($hd) {
                            left: 1180px;

                        }
                    }

                    &:nth-child(7) {
                        left: 1340px;

                        @media ($hd) {
                            left: 1375px;

                        }
                    }

                    &:nth-child(8) {
                        left: 1525px;
                    }

                    &:nth-child(9) {
                        left: 1710px;
                    }

                    .item-content{
                        transition: ease 0.5s;
                        opacity: 0;
                        position: absolute;
                        left: -100%;

                        &__text {
                            color: $white;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            font-family: $main-font;
                            padding: 232px 28px 0 28px;

                            @media ($phone) {
                                font-size: 12px;
                                line-height: 14px;
                                padding: 75px 4px 0 8px;
                            }

                        }

                        &__links {
                            display: flex;
                            padding: 14px 23px 0 23px;

                            @media ($phone) {
                                padding: 6px 4px 11px 8px;
                                flex-direction: column;
                            }

                           .links-watchLink {
                                display: flex;
                                align-items: center;
                                margin-right: 10px;

                                @media ($phone) {
                                    margin-bottom: 6px;
                                    margin-right: 0;
                                }

                                &__svg {
                                    border: 1px solid #4BD8B5;
                                }

                                &__text {
                                    color: #4BD8B5;
                                }
                            }

                            .links-donateLink {
                                display: flex;
                                align-items: center;

                                &__svg {
                                    border: 1px solid $white;
                                }

                                &__text {
                                    color: $white;
                                }
                            }

                            .slidesLinkText {
                                font-family: $main-font;
                                text-decoration: none;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 12px;
                                text-align: center;
                                text-transform: uppercase;
                            }

                            .linksvg {
                                height: 24px;
                                width: 24px;
                                border-radius: 50%;

                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                margin-right: 3px;
                            }
                        }
                    }

                }

                .current_slide {
                    width: 245px;
                    height: 352px;
                    bottom: 0;
                    left: 308px;
                    z-index: 3;

                    @media ($hd) {
                        left: 332px;
                    }

                    @media ($tablet) {
                        left: 238px;
                    }

                    @media ($phone) {
                        height: 202px;
                        width: 140px;
                        left: 136px;
                    }
                }
            }
        }

        &__bottom {
            .slider-bottom__rangevalue {
                display: flex;
                padding-left: 404px;

                @media ($hd) {
                    padding-left: 434px;
                }

                @media ($tablet) {
                    padding-left: 340px;
                }

                @media ($phone) {
                    padding-left: 178px;
                    margin-top: 15px;
                }

                .bottom-rangevalue__current-value {
                    color: $white;
                }

                .bottom-rangevalue__total-value {
                    color: $gray;
                }

            }

            .slider-bottom__rangebox {
                margin-top: 14px;

                @media ($phone) {
                    margin-top: 0;
                }

                .bottom-rangebox__range {
                    position: absolute;
                    left: 308px;
                    background: $gray;
                    width: 245px;

                    @media ($hd) {
                        left: 332px;
                    }

                    @media ($tablet) {
                        left: 238px;
                    }

                    @media ($phone) {
                        width: 140px;
                        height: 5px;
                        left: 136px;
                    }

                    &::-webkit-slider-thumb {
                        width: 30px;
                        background: $white;

                        @media ($phone) {
                            width: 17px;
                        }
                    }
                }
            }
        }
    }

    //slider
}