//colors 
$black1: #333333;
$black2: #4F4F4F;
$light-gray: rgba(189, 189, 189, 0.57);
$gray: #BDBDBD;
$white: #FFFFFF;
$white-light: #F2F2F2;
$blue: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
$grad: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);


//screen
$full-hd: '(max-width:1920px)';
$lcd: '(max-width:1440px)';
$hd: '(max-width:1200px)';
$hd-tablet: '(max-width:1000px)';
$tablet: '(max-width:768px)';
$phone: '(max-width:576px)';


//fonts
$main-font: 'Roboto', sans-serif;